@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.insta-logo {
    margin-bottom: 50px;
}

.caixa-imagens {
    position: relative;
}

.imagem-celular {
    width: 450px;
}

.imagem-insta {
    height: 525px;
    position: absolute;
    left: 151px;
    top: 25px;

}

.caixa-form {
    width: 350px;
    border: 1px solid #dbdbdb;
    padding: 50px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-right: auto;
}

input {
    height: 36px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    color: #262626;
}

button {
    background-color: #1877F2;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.ou {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.login-facebook {
    color: #1877F2;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.login-facebook img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}

.cadastro {
    width: 350px;
    border: 1px solid #dbdbdb;
    text-align: center;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    font-size: 14px;
}

.cadastre-se {
    color: #1877F2;
    font-weight: bold;
    text-decoration: none;  
}

.aplicativo {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    margin-right: auto;
    
}

.app {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
}

.app img {
    width: 140px;
    height: auto;
}
